@font-face{
    font-family: TrebuchetMS;
    src: url('../fonts/TrebuchetMS.ttf');
}
#dialog{
    border: 5px solid rgba(0,0,0,0.25);
    border-radius: 5px;
    background-color: white;
    padding: 8px;
    width: 503px;
    z-index: 2;
    position: absolute;
    left: 50%;
    margin-left: -252px;
}
#overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.3;
    z-index: 1;
}
#icon_close img, #icon_check img{
    border: none;
}
#icon_close img{
    position: absolute;
    right: 13px;
    top: 20px;
}
#icon_check{
    float: right;
    margin-right: 10px;
    margin-top: 18px;
    position: relative;
    display: inline-block;
}
#icon_check span{
    position:absolute;
    margin: 10px 10px;
    left: 10px;
    font-size: 16px;
    color: #335400;
}
#di{
    height: 66px;
}
#title{
    font: 24px TrebuchetMS;
    color: #7cbe28;
    padding-top: 12px;
    padding-bottom: 9px;
    margin-left: 12px;
    border-bottom: 1px solid #d0d0d0;
}
#text{
    padding-top: 14px;
}
#text, #content, #shared{
    padding-left: 12px;
}
#history{
    background-color: #e9faff;
    margin-top: 16px;
    padding: 10px;
}
.date-time-one{
    display: inline-block;
   width: 135px;
}
.date-time-two{
    display: inline-block;
    width: 154px;
}
#content{
    padding-top: 10px;
}
.area{
    overflow: auto;
    background-color: white;
    border: 1px solid #cbcbcb;
    margin: 7px;
    margin-left: 0;
    padding: 8px ;
    color: #666666;
    font-style: italic;
}
#area_one{
    height: 85px;
}
#area_two{
    height: 70px;
}
 #history_title, .history_mess, #text div, #content{
    font: 14px TrebuchetMS;
}
#history_title{
    font-size: 18px;
}
#history_content{
    padding: 10px;
}
#shared span{
    display: inline-block;
    width: 48%;
}
.link a, #text div a{
    /*text-decoration: none;*/
    color: #00aedb;
}
.link img{
    vertical-align: middle;
    margin-right: 8px;
    width: 16px;
    height: 16px;
}
#history_title, .history_mess, .shared_title{
    font-weight: bold;
}
.time{
    float: right;
}